@font-face {
	font-family: Neon_Regular;
	src: local("Neon_Regular"),
		 url('../fonts/Neon_Regular.ttf');
}

@font-face {
	font-family: Neon_Caps_Regular;
	src: local("Neon_Caps_Regular"),
		 url('../fonts/Neon_Caps_Regular.ttf');
}

*[data-neon] {
	font-family: Neon_Regular;
	font-size:60px;
}

*[data-neon='basic'], *[data-neon='custom'] span {
	color: #fff;
	text-shadow:0 0  .1em rgba(255, 255, 255, .6),
				0 0  .6em rgba(255, 255, 255, .2),
				0 0 1.2em rgba(255, 255, 255, .4),
				0 0 1.8em rgba(255, 255, 255, .6),
				0 0 2.4em rgba(255, 255, 255, .8),
				.02em .02em  .1em rgba(0, 0, 0, 1);
}
